.primary-button {
    background-color: #1976D2;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    padding: 10px 15px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    display: flex;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 90%;
    margin: auto;
}

.superhero-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.superhero-table th,
.superhero-table td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

.superhero-table th {
    background-color: #f4f4f4;
}

.centered-cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.superhero-form {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 400px;
    margin: 20px auto;
}

.form-group {
    margin-bottom: 15px;
    padding-right: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.superhero-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
}

.cancel-button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: #ff1a1a;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }